body {
    background-color: rgb(193, 222, 164);
}

header {
    margin: 20px;
}

.confirmacion-info {
    background-color: white;
    border-radius: 16px;
    text-align: center;
}

.navbar-nav.me-auto.mb-2.mb-lg-0 img {
    width: 30px;
}


#formulario-reserva td {
    padding: 10px;
}

#menu {
    width: 80px;
    background-color: rgb(14, 133, 66);
    color: white;
}