body {
    background-color: rgb(193, 222, 164);
    display: grid;
    grid-template-columns: 10% auto;
}

header {
    margin: 20px;
}

.nav.flex-column img {
    width: 30px;
}


#formulario-reserva td {
    padding: 10px;
}

#menu {
    width: 80px;
    background-color: rgb(14, 133, 66);
    color: white;
}