body {
    background-color: rgb(193, 222, 164);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    margin: 20px;
}

.border.rounded.p-4.shadow.bg-white {
    margin: 20px;
}

.card-body {
    border: 1px solid rgb(18, 202, 98);
    border-radius: 30px;
    text-align: center;
    margin: 20px;
    padding: 10px;
}

.confirmacion-info {
    background-color: white;
    border-radius: 16px;
    text-align: center;
}

.navbar-nav.me-auto.mb-2.mb-lg-0 img {
    width: 30px;
}

#confirmacion-reserva {
    text-align: center;
}

#formulario-reserva td {
    padding: 10px;
}

#menu {
    width: 80px;
    background-color: rgb(14, 133, 66);
    color: white;
}