.action {
    background-color: rgb(198, 36, 114);
    color: white;
    border-radius: 8px;
    
    white-space: nowrap;
    margin: auto 35%;
    padding: 10px;
}

.action:hover {
    background-color: rgb(138, 26, 80);
    border: 2px solid rgb(68, 6, 43);
}

.descr-servicio {
    font-size: 20px;
}

.feature-service {
    display: grid;
    grid-template-columns: 50% 50%;

    text-align: justify;
}

.nombre-caract {
    font-size: 18px;
    font-weight: bold;
}

.servicio {
    background-color: rgba(119, 233, 195, 0.5);
    margin: 20px;
    padding: 20px;
}

.servicio:hover {
    background-color: rgba(119, 233, 195, 0.8);
}

.subtitulo-servicio {
    font-size: 30px;
    text-align: center;
}

.titulo-servicio {
    font-size: 50px;
    text-align: center;
}