input {
    border: 1px solid black;
}

input, textarea {
    max-width: 600px;
    border-radius: 12px;
    padding: 5px;
    outline: none;
}

input:focus, textarea:focus {
    border-color: blue;
    box-shadow: 0 0 3px blue;
}

.campo {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 20px;
}

.campo > select {
    padding: 5px;
}

.formulario {
    display: grid;
    justify-items: center;
}

.form-select {
    min-width: 200%;
}

.subtitulo-form {
    font-size: 30px;
    text-align: center;
    margin: 10px;
}

#nombre-servicio {
    min-width: 300px;
}