.forgot-password {
    margin: 20px;
}

.login-label {
    padding-right: 10px;
}

.login {
    background-color: snow;

    width: 100vw;
    height: 90vh;
    align-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    height: fit-content;

    background-color: snow;
    border-radius: 16px;
    max-width: 540px;

    margin: 20px;
    padding: 20px;
}

.login-input {
    background-color: transparent;
    width: 100%;
}

.login-input:focus {
    border-color: blue;
}

.login-section {
    text-align: center;
}